body {
  background: #eeeeee;
  color: #030303;
  font-family: Quicksand;
  text-align: center;
}

body > h1 {
  font-weight: normal;
  font-style: italic;
}

.thin-gray-border {
  border-color: #999797;
  border-width: 2px;
  border-style: solid;
}

.light-pink-background {
  background-color: #ffd6f2;
}